{% extends '_base.html' %}

{% block page_title %}Home Page{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
    <p>Welcome {{ user.username }} | <a href="{% url 'logout' %}">Log Out</a></p>
    {% else %}
    <a href="{% url 'login' %}">Log In</a> | <a href="{% url 'signup' %}">Sign Up</a>
    {% endif %}
    <div class="d-flex justify-content-center mt-10">
        <div class="bg-white m-3 m-sm-5 border rounded px-4 pt-4 pb-3">
            <h3>
                <p>this page made by mohammad kazempour</p>
                
                <a href="@m_kpr81">@m_kpr81</a> <p>is my Telegram id</p><br>
                <a href="https://github.com/MohammadKpr">https://github.com/MohammadKpr</a> <p>is my Github address</p><br>
                <a href="https://www.linkedin.com/in/mohammad-kazempour-3ab6aa24a/">https://www.linkedin.com/in/mohammad-kazempour-3ab6aa24a/</a> <p>is my Linkdin address</p>
            </h3>
        </div>
    </div>
    
{% endblock %}